*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548587;
    text-align: center;
}

h1 {
    font-size: 2.4rem;
    color: #1d2802;
}

.container{
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}
.game{
    height:60vmin;/*1 % of view port smaller dimensions*/
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:1.5vmin;

}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #f3f36d;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:#ffffc7;
    font-size: 8vmin;
    padding: 15px;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}